In [293]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics import median_absolute_error
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn import neighbors
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import Imputer

In [294]:
properties = pd.read_csv('/home/santiago/Desktop/Organizacion De Datos (75.06)/TP2/ClusteringTrain.csv', low_memory=False)
test_set = pd.read_csv('/home/santiago/Desktop/Organizacion De Datos (75.06)/TP2/testPreProcess.csv', low_memory=False)

In [295]:
all_df = test_set.append(properties)
all_df['lat'] = all_df['lat'].apply(lambda x: x*2000)
all_df['lon'] = all_df['lon'].apply(lambda x: x*2000)

properties['lat'] = properties['lat'].apply(lambda x: x*2000)
properties['lon'] = properties['lon'].apply(lambda x: x*2000)
len(all_df)
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134660 entries, 0 to 120493
Data columns (total 18 columns):
Unnamed: 0                  134660 non-null int64
Unnamed: 0.1                120494 non-null float64
created_on                  134660 non-null object
distancia_minima_privado    134660 non-null float64
distancia_minima_publico    134660 non-null float64
distancia_minima_subte      134660 non-null float64
distancia_obelisco          134660 non-null float64
floor                       134660 non-null float64
id                          134660 non-null object
lat                         134660 non-null float64
lon                         134660 non-null float64
place_name_encoded          134660 non-null int64
price                       120494 non-null float64
property_type_encoded       134660 non-null int64
rooms                       134660 non-null float64
state_name_encoded          134660 non-null int64
surface_covered_in_m2       134660 non-null float64
surface_total_in_m2         134660 non-null float64
dtypes: float64(12), int64(4), object(2)
memory usage: 19.5+ MB

In [296]:
#train = all_df.loc[:, ['property_type_encoded', 'place_name_encoded', 'rooms'
 #                       ,'surface_covered_in_m2', 'surface_total_in_m2',]]

#train = all_df.loc[:, ['property_type_encoded', 'rooms','lat','lon'
 #                       ,'surface_covered_in_m2']]
    
train = all_df.loc[:, ['place_name_encoded','surface_covered_in_m2','lat','lon','distancia_minima_subte']]

In [297]:
kmeans = KMeans(init='k-means++', n_clusters= 1800, n_init=1)#150 y 10
cluster_prediction = kmeans.fit(train).predict(train) 
cluster_prediction = cluster_prediction.flatten()
train['cluster'] = cluster_prediction

In [298]:
train_clusters = train['cluster'][len(test_set):]
test_clusters = train['cluster'][:len(test_set)]

#Agrego los clusters a los datasets
properties['cluster'] = train_clusters
test_set['cluster'] = test_clusters

In [299]:
#Ya termino K-means, ahora empieza KNN
train = properties.loc[:, ['place_name_encoded', 'cluster','surface_covered_in_m2',
                           'lat','lon','distancia_minima_subte', 'price']]

In [300]:
#test = train[int(0.88*len(train)):]
#train = train[:int(0.88*len(train))]

test = train #Comentar esta linea y descomentar las otras 2 para el intento
len(test)

120494

In [301]:
#train_no_prices = train.loc[:, ['property_type_encoded','surface_covered_in_m2','surface_total_in_m2','rooms',
 #                               'cluster']]

train_no_prices = train.loc[:, ['cluster']]

In [302]:
#test_to_predict = test.loc[:, ['property_type_encoded','surface_covered_in_m2','surface_total_in_m2'
 #                              ,'rooms','cluster']]


#real_test_to_predict = test_set.loc[:, ['property_type_encoded','surface_covered_in_m2','surface_total_in_m2'
 #                                       ,'rooms','cluster']]
    
test_to_predict = test.loc[:, ['cluster']]
real_test_to_predict = test_set.loc[:, ['cluster']]

In [303]:
knn = neighbors.KNeighborsRegressor(20, weights="distance", algorithm="ball_tree")

In [304]:
train_prices = train.loc[:, 'price']

In [305]:
predictions = knn.fit(train_no_prices, train_prices).predict(test_to_predict)
predictions = predictions.flatten()

real_predictions = knn.fit(train_no_prices, train_prices).predict(real_test_to_predict)
real_predictions = real_predictions.flatten()

In [306]:
result = pd.DataFrame()
result['price_usd'] = predictions
result['real_price'] = test['price'].values
result['dif'] = abs(result['real_price'] - result['price_usd'])
#result = result.sort_values('dif', ascending = False)

#El que sigue es el que va para submit
real_result = pd.DataFrame()
real_result['price_usd'] = real_predictions 
real_result['id'] = test_set['id'].values

real = test
score = mean_squared_error(result['real_price'].values, result['price_usd'])
score

14059162067.026415

In [307]:
result

            price_usd  real_price            dif
0       756000.000000    570000.0  186000.000000
1       756000.000000    500000.0  256000.000000
2       133200.000000    450000.0  316800.000000
3       129825.000000    135000.0    5175.000000
4       196650.000000    180000.0   16650.000000
5       137600.000000     77000.0   60600.000000
6       223650.000000    570000.0  346350.000000
7       528175.000000     98500.0  429675.000000
8       147700.000000    180000.0   32300.000000
9       422500.000000    150000.0  272500.000000
10      206925.000000    160000.0   46925.000000
11      147700.000000    160000.0   12300.000000
12      167500.000000    160000.0    7500.000000
13      102950.000000     90000.0   12950.000000
14      223650.000000    454000.0  230350.000000
15      103275.000000    120000.0   16725.000000
16      220900.000000    180000.0   40900.000000
17      148610.000000    185000.0   36390.000000
18      103950.000000     97000.0    6950.000000
19      103950.000000    100000.0    3950.000000
20      598800.000000    390000.0  208800.000000
21      255300.000000    275000.0   19700.000000
22      302500.000000    125000.0  177500.000000
23      137400.000000     88000.0   49400.000000
24      212750.000000    120000.0   92750.000000
25      179950.000000     52000.0  127950.000000
26      748947.368421    550000.0  198947.368421
27      176550.000000    140000.0   36550.000000
28      176550.000000    140000.0   36550.000000
29      176550.000000    140000.0   36550.000000
...               ...         ...            ...
120464  233111.050000    215000.0   18111.050000
120465  459200.000000    330000.0  129200.000000
120466  251875.000000    460000.0  208125.000000
120467  168335.650000    182000.0   13664.350000
120468  228855.000000    259400.0   30545.000000
120469  228855.000000    265000.0   36145.000000
120470  175528.200000     97300.0   78228.200000
120471  142780.350000     60000.0   82780.350000
120472  137400.000000    153000.0   15600.000000
120473  200100.000000     60000.0  140100.000000
120474  178250.000000    165000.0   13250.000000
120475  170442.150000    165000.0    5442.150000
120476  161625.000000    180000.0   18375.000000
120477  109525.000000     98000.0   11525.000000
120478  353000.000000    370000.0   17000.000000
120479  200645.000000    163000.0   37645.000000
120480  108861.250000    129000.0   20138.750000
120481  129000.000000     95000.0   34000.000000
120482  195510.000000    160000.0   35510.000000
120483   97680.000000     92000.0    5680.000000
120484  330525.000000    265000.0   65525.000000
120485  195510.000000    233000.0   37490.000000
120486  157100.000000    250000.0   92900.000000
120487   87330.000000     62000.0   25330.000000
120488  357973.500000    320000.0   37973.500000
120489  277250.000000     60000.0  217250.000000
120490  156260.000000    135000.0   21260.000000
120491  154250.000000    130000.0   24250.000000
120492   83775.000000     70000.0   13775.000000
120493  520000.000000    990000.0  470000.000000

[120494 rows x 3 columns]

In [308]:
len(result[result['dif']>100000])

25892

In [309]:
real_result.index = real_result['id']
real_result = real_result[['price_usd']]
real_result.dropna(inplace=True)
real_result

             price_usd
id
3632     756000.000000
3633     200273.535714
2263404  135963.250000
2263405  104259.400000
2263406  104259.400000
2263407  104259.400000
2263408  104259.400000
2263409  104259.400000
2263410  204471.050000
2263411  108861.250000
2263412  108861.250000
2263413  108861.250000
2263415  350150.000000
2263416  427300.000000
2263417   96650.900000
2263418   96650.900000
2263419   96650.900000
2263420   96650.900000
2263421   96650.900000
2263422   96650.900000
2263423   96650.900000
2263424   96650.900000
2263425   96650.900000
2263426  155045.000000
2263427  155045.000000
2263428  155045.000000
2263429  155045.000000
2263430   96650.900000
2263431   96650.900000
2263432   96650.900000
...                ...
2245037  479695.950000
2245039   94120.000000
2245041  261345.000000
2245042  204471.050000
2245071  179322.650000
2245093  250911.450000
2245123  148739.800000
2245124  149112.750000
2245167  232150.000000
2245170  127650.000000
2245172  127653.000000
2245180  128942.750000
2245185  125700.000000
2245186  160295.000000
2245187   96200.000000
2245203  191945.000000
2245221  156260.000000
2245222  241150.000000
2245228  696500.000000
2245266  196875.000000
2245331  157075.000000
2245345   93117.500000
2245921  151500.000000
2245929  200645.000000
2245930  200645.000000
2245938  551419.950000
2245978   85275.000000
2246083  229650.000000
2246089  156678.000000
2246127  124000.000000

[14166 rows x 1 columns]

In [310]:
real_result.to_csv('K_Means + KNN 26-11.csv')

In [311]:
len(real_result)

14166