# Otro preprocesado

In [74]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
from datetime import timedelta, date
import matplotlib.dates as mdates
import math
import warnings
from sklearn.preprocessing import LabelEncoder 
from sklearn.metrics import mean_squared_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import accuracy_score
from sklearn import neighbors
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score


warnings.filterwarnings('ignore')

#Imports necesarios

In [75]:
#Ahora realizamos el mismo tratamiento para el set de properati dle 2017
df = pd.read_csv('/home/matias/Escritorio/ML/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196719 entries, 0 to 196718
Data columns (total 27 columns):
id                            196719 non-null object
created_on                    196719 non-null object
operation                     196719 non-null object
property_type                 196719 non-null object
place_name                    196670 non-null object
place_with_parent_names       196719 non-null object
country_name                  196719 non-null object
state_name                    196719 non-null object
geonames_id                   164653 non-null float64
lat-lon                       130239 non-null object
lat                           130239 non-null float64
lon                           130239 non-null float64
price                         165687 non-null float64
currency                      165687 non-null object
price_aprox_local_currency    165687 non-null float64
price_aprox_usd               165687 non-null float64
surface_total_in_m2           146678 non-null float64
surface_covered_in_m2         165053 non-null float64
price_usd_per_m2              125729 non-null float64
price_per_m2                  142858 non-null float64
floor                         13290 non-null float64
rooms                         128122 non-null float64
expenses                      16942 non-null float64
properati_url                 196719 non-null object
description                   196714 non-null object
title                         196719 non-null object
image_thumbnail               192706 non-null object
dtypes: float64(13), object(14)
memory usage: 40.5+ MB

In [76]:
df = df.dropna(subset=['place_name'], how='all')
df = df.dropna(subset=['price_aprox_usd'], how='all')
df = df.dropna(subset=['description'], how='all')
df = df.dropna(subset=['surface_covered_in_m2'], how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142808 entries, 28 to 196718
Data columns (total 27 columns):
id                            142808 non-null object
created_on                    142808 non-null object
operation                     142808 non-null object
property_type                 142808 non-null object
place_name                    142808 non-null object
place_with_parent_names       142808 non-null object
country_name                  142808 non-null object
state_name                    142808 non-null object
geonames_id                   116257 non-null float64
lat-lon                       95070 non-null object
lat                           95070 non-null float64
lon                           95070 non-null float64
price                         142808 non-null float64
currency                      142808 non-null object
price_aprox_local_currency    142808 non-null float64
price_aprox_usd               142808 non-null float64
surface_total_in_m2           117186 non-null float64
surface_covered_in_m2         142808 non-null float64
price_usd_per_m2              117186 non-null float64
price_per_m2                  142807 non-null float64
floor                         10626 non-null float64
rooms                         97490 non-null float64
expenses                      14212 non-null float64
properati_url                 142808 non-null object
description                   142808 non-null object
title                         142808 non-null object
image_thumbnail               140430 non-null object
dtypes: float64(13), object(14)
memory usage: 30.5+ MB

In [77]:
df2 = df[['id','surface_covered_in_m2','description', 'place_name','price_aprox_usd']]
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142808 entries, 28 to 196718
Data columns (total 5 columns):
id                       142808 non-null object
surface_covered_in_m2    142808 non-null float64
description              142808 non-null object
place_name               142808 non-null object
price_aprox_usd          142808 non-null float64
dtypes: float64(2), object(3)
memory usage: 6.5+ MB

In [78]:
def tiene_palabra(df,word,word2):
    t = df
    pool = []
    vectorDes = t['description'].values
    for description in vectorDes:
        description = str(description)
        description = description.lower()
        if word in description or word2 in description:
            pool.append(1)
        else:
            pool.append(0)
    df[str(word)] = pool

In [79]:
t = df2

In [80]:
tiene_palabra(t,'pileta','piscina')
tiene_palabra(t,'garage','cochera')
tiene_palabra(t,'gimnasio','gym')
tiene_palabra(t,'cancha','cancha')
tiene_palabra(t,' frente',' frente')
tiene_palabra(t,'contrafrente','contrafrente')
tiene_palabra(t,'lavadero','lava')
tiene_palabra(t,'nuevo','estrenar')
tiene_palabra(t,'cuadras','cuadra')
tiene_palabra(t,'playroom','sum')
tiene_palabra(t,'excelente','hermosa')


tiene_palabra(t,'centro','centrica')
tiene_palabra(t,'patio','quincho')
tiene_palabra(t,'madero','madero')
tiene_palabra(t,'luminoso','iluminacion')
tiene_palabra(t,'grande','espacio')
tiene_palabra(t,'autopista','autopista')
tiene_palabra(t,'tren','estacion')
tiene_palabra(t,'cocina','comedor')
tiene_palabra(t,'seguridad','camaras')
tiene_palabra(t,'shopping','cine')

tiene_palabra(t,'limpieza','cubiertos')
tiene_palabra(t,'monoambiente','mono')
tiene_palabra(t,'baja','primer')
tiene_palabra(t,'parque','verde')
tiene_palabra(t,'jardin','jardin')
tiene_palabra(t,'living','comedor')
tiene_palabra(t,'terraza','balcon')
tiene_palabra(t,'parrila','parrila')
tiene_palabra(t,'barrio cerrado','country')

In [82]:
t.head()

,id,surface_covered_in_m2,description,place_name,price_aprox_usd,pileta,garage,gimnasio,cancha,frente,...,shopping,limpieza,monoambiente,baja,parque,jardin,living,terraza,parrila,barrio cerrado
28,c8a66ee9e3da083ab66dacd165e8a5cc718b1cf2,93.0,CASA CON LOCAL EN VENTA EN PADUA.2 DORMITORIOS...,San Antonio De Padua,120000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
30,9446052c949050359fb08b9f1ba83ba2eaa20c99,103.0,Casa Multifamiliar en Mataderos!!! Sobre lote ...,Mataderos,185000.0,0,0,0,0,1,...,0,0,0,1,0,0,1,1,0,0
31,4d3b492ed5f9c74cdf33b56b98328e5c950e3f9c,54.0,"Venta - Departamento - Argentina, Buenos Aires...",Pilar,97000.0,1,1,0,0,0,...,0,0,0,1,1,1,1,1,0,0
34,27d87ac71e7c00afa9fa7428b943ec263ff68bb4,260.0,"Venta - Casa - Argentina, Patagonia, San Marti...",San Martín de los Andes,480000.0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
35,df77a06585671e637d2d86f8d22b70d61cfecb18,80.0,"Venta - Casa - Argentina, Patagonia, San Marti...",San Martín de los Andes,150000.0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [83]:
t.to_csv('dataMartin.csv')

In [40]:
tes = t[0:10000]
tra = t[10000:] 
tra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132856 entries, 16570 to 196718
Data columns (total 34 columns):
id                       132856 non-null object
surface_covered_in_m2    132856 non-null float64
description              132856 non-null object
price_aprox_usd          132856 non-null float64
pileta                   132856 non-null int64
garage                   132856 non-null int64
gimnasio                 132856 non-null int64
cancha                   132856 non-null int64
 frente                  132856 non-null int64
contrafrente             132856 non-null int64
lavadero                 132856 non-null int64
nuevo                    132856 non-null int64
cuadras                  132856 non-null int64
playroom                 132856 non-null int64
excelente                132856 non-null int64
centro                   132856 non-null int64
patio                    132856 non-null int64
madero                   132856 non-null int64
luminoso                 132856 non-null int64
grande                   132856 non-null int64
autopista                132856 non-null int64
tren                     132856 non-null int64
cocina                   132856 non-null int64
seguridad                132856 non-null int64
shopping                 132856 non-null int64
limpieza                 132856 non-null int64
monoambiente             132856 non-null int64
baja                     132856 non-null int64
parque                   132856 non-null int64
jardin                   132856 non-null int64
living                   132856 non-null int64
terraza                  132856 non-null int64
parrila                  132856 non-null int64
barrio cerrado           132856 non-null int64
dtypes: float64(2), int64(30), object(2)
memory usage: 35.5+ MB

In [41]:
trainLX = tra.drop('id', 1)
trainLX = trainLX.drop('description', 1)
trainLX = trainLX.drop('price_aprox_usd', 1)
trainLY = tra[['price_aprox_usd']]
trainLX.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132856 entries, 16570 to 196718
Data columns (total 31 columns):
surface_covered_in_m2    132856 non-null float64
pileta                   132856 non-null int64
garage                   132856 non-null int64
gimnasio                 132856 non-null int64
cancha                   132856 non-null int64
 frente                  132856 non-null int64
contrafrente             132856 non-null int64
lavadero                 132856 non-null int64
nuevo                    132856 non-null int64
cuadras                  132856 non-null int64
playroom                 132856 non-null int64
excelente                132856 non-null int64
centro                   132856 non-null int64
patio                    132856 non-null int64
madero                   132856 non-null int64
luminoso                 132856 non-null int64
grande                   132856 non-null int64
autopista                132856 non-null int64
tren                     132856 non-null int64
cocina                   132856 non-null int64
seguridad                132856 non-null int64
shopping                 132856 non-null int64
limpieza                 132856 non-null int64
monoambiente             132856 non-null int64
baja                     132856 non-null int64
parque                   132856 non-null int64
jardin                   132856 non-null int64
living                   132856 non-null int64
terraza                  132856 non-null int64
parrila                  132856 non-null int64
barrio cerrado           132856 non-null int64
dtypes: float64(1), int64(30)
memory usage: 32.4 MB

In [42]:
trainLY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132856 entries, 16570 to 196718
Data columns (total 1 columns):
price_aprox_usd    132856 non-null float64
dtypes: float64(1)
memory usage: 2.0 MB

In [43]:
cross2 = tes.drop('id', 1)
cross2=  cross2.drop('description', 1)
cross2= cross2.drop('price_aprox_usd', 1)
crossValidation = pd.DataFrame()
crossValidation['price'] = tes['price_aprox_usd']

In [44]:
k_trials = [313]
            
weights = ['distance']

algorithms = ['kd_tree']

predictionList = []
scoreList = []

for k in k_trials:
    for w in weights:
        for a in algorithms:
            knn = neighbors.KNeighborsRegressor(k, weights=w, algorithm=a)
            predictions = knn.fit(trainLX, trainLY).predict(cross2)
            predictions = predictions.flatten()
            predictionList.append('KNN-K'+str(k)+'-'+w+'-'+a)
            score = mean_squared_error(crossValidation['price'].values, predictions)
            scoreList.append(score)

In [45]:
resultados = pd.DataFrame()
resultados['parametros'] = predictionList
resultados['score'] = scoreList
rOrder = resultados.sort_values('score',ascending= True)
rOrder.head(20)

                  parametros         score
0  KNN-K313-distance-kd_tree  8.093340e+10

In [67]:
test= pd.read_csv('test.csv')
testSubir = test[['id','surface_covered_in_m2','place_name','description']]
testSubir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 4 columns):
id                       14166 non-null int64
surface_covered_in_m2    13005 non-null float64
place_name               14166 non-null object
description              14166 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 442.8+ KB

In [68]:
test['surface_covered_in_m2'] = test.groupby('place_name')['surface_covered_in_m2'].transform(lambda x: x.fillna(x.median()))
test['surface_covered_in_m2'] = test['surface_covered_in_m2'].transform(lambda x: x.fillna(50))
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 17 columns):
id                         14166 non-null int64
created_on                 14166 non-null object
property_type              14166 non-null object
operation                  14166 non-null object
place_name                 14166 non-null object
place_with_parent_names    14166 non-null object
country_name               14166 non-null object
state_name                 14166 non-null object
lat-lon                    10487 non-null object
lat                        10487 non-null float64
lon                        10487 non-null float64
surface_total_in_m2        11853 non-null float64
surface_covered_in_m2      14166 non-null float64
floor                      1368 non-null float64
rooms                      7500 non-null float64
expenses                   2543 non-null object
description                14166 non-null object
dtypes: float64(6), int64(1), object(10)
memory usage: 1.8+ MB

In [69]:
testSubir = test[['id','surface_covered_in_m2','place_name','description']]
testSubir.info()
t = testSubir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 4 columns):
id                       14166 non-null int64
surface_covered_in_m2    14166 non-null float64
place_name               14166 non-null object
description              14166 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 442.8+ KB

In [70]:
t = testSubir

In [71]:
tiene_palabra(t,'pileta','piscina')
tiene_palabra(t,'garage','cochera')
tiene_palabra(t,'gimnasio','gym')
tiene_palabra(t,'cancha','cancha')
tiene_palabra(t,' frente',' frente')
tiene_palabra(t,'contrafrente','contrafrente')
tiene_palabra(t,'lavadero','lava')
tiene_palabra(t,'nuevo','estrenar')
tiene_palabra(t,'cuadras','cuadra')
tiene_palabra(t,'playroom','sum')
tiene_palabra(t,'excelente','hermosa')


tiene_palabra(t,'centro','centrica')
tiene_palabra(t,'patio','quincho')
tiene_palabra(t,'madero','madero')
tiene_palabra(t,'luminoso','iluminacion')
tiene_palabra(t,'grande','espacio')
tiene_palabra(t,'autopista','autopista')
tiene_palabra(t,'tren','estacion')
tiene_palabra(t,'cocina','comedor')
tiene_palabra(t,'seguridad','camaras')
tiene_palabra(t,'shopping','cine')

tiene_palabra(t,'limpieza','cubiertos')
tiene_palabra(t,'monoambiente','mono')
tiene_palabra(t,'baja','primer')
tiene_palabra(t,'parque','verde')
tiene_palabra(t,'jardin','jardin')
tiene_palabra(t,'living','comedor')
tiene_palabra(t,'terraza','balcon')
tiene_palabra(t,'parrila','parrila')
tiene_palabra(t,'barrio cerrado','country')

In [72]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 34 columns):
id                       14166 non-null int64
surface_covered_in_m2    14166 non-null float64
place_name               14166 non-null object
description              14166 non-null object
pileta                   14166 non-null int64
garage                   14166 non-null int64
gimnasio                 14166 non-null int64
cancha                   14166 non-null int64
 frente                  14166 non-null int64
contrafrente             14166 non-null int64
lavadero                 14166 non-null int64
nuevo                    14166 non-null int64
cuadras                  14166 non-null int64
playroom                 14166 non-null int64
excelente                14166 non-null int64
centro                   14166 non-null int64
patio                    14166 non-null int64
madero                   14166 non-null int64
luminoso                 14166 non-null int64
grande                   14166 non-null int64
autopista                14166 non-null int64
tren                     14166 non-null int64
cocina                   14166 non-null int64
seguridad                14166 non-null int64
shopping                 14166 non-null int64
limpieza                 14166 non-null int64
monoambiente             14166 non-null int64
baja                     14166 non-null int64
parque                   14166 non-null int64
jardin                   14166 non-null int64
living                   14166 non-null int64
terraza                  14166 non-null int64
parrila                  14166 non-null int64
barrio cerrado           14166 non-null int64
dtypes: float64(1), int64(31), object(2)
memory usage: 3.7+ MB

In [73]:
t.to_csv('testMartin.csv')

In [58]:

t = t.drop('description',1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 32 columns):
surface_covered_in_m2    14166 non-null float64
description              14166 non-null object
pileta                   14166 non-null int64
garage                   14166 non-null int64
gimnasio                 14166 non-null int64
cancha                   14166 non-null int64
 frente                  14166 non-null int64
contrafrente             14166 non-null int64
lavadero                 14166 non-null int64
nuevo                    14166 non-null int64
cuadras                  14166 non-null int64
playroom                 14166 non-null int64
excelente                14166 non-null int64
centro                   14166 non-null int64
patio                    14166 non-null int64
madero                   14166 non-null int64
luminoso                 14166 non-null int64
grande                   14166 non-null int64
autopista                14166 non-null int64
tren                     14166 non-null int64
cocina                   14166 non-null int64
seguridad                14166 non-null int64
shopping                 14166 non-null int64
limpieza                 14166 non-null int64
monoambiente             14166 non-null int64
baja                     14166 non-null int64
parque                   14166 non-null int64
jardin                   14166 non-null int64
living                   14166 non-null int64
terraza                  14166 non-null int64
parrila                  14166 non-null int64
barrio cerrado           14166 non-null int64
dtypes: float64(1), int64(30), object(1)
memory usage: 3.5+ MB

In [59]:
knn = neighbors.KNeighborsRegressor(321, weights='distance', algorithm='kd_tree')
predictions = knn.fit(trainLX, trainLY).predict(t)
predictions = predictions.flatten()
predictions

array([ 246082.44261107,  146333.16473423,  206200.        , ...,
        210000.        ,  113383.13539066,  182834.35586082])

In [61]:
predictions_df = pd.DataFrame()

predictions_df['id'] = test['id']
predictions_df['price_usd'] = predictions
predictions_df = predictions_df[['id','price_usd']]
predictions_df.to_csv('KNNdes.csv',index=False)