In [13]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.metrics import median_absolute_error
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.svm import SVR

In [14]:
properties = pd.read_csv('/home/santiago/Desktop/Organizacion De Datos (75.06)/TP2/trainFull.csv', low_memory=False)
test_set = pd.read_csv('/home/santiago/Desktop/Organizacion De Datos (75.06)/TP2/testFull.csv', low_memory=False)

In [15]:
#train = properties.loc[:, ['property_type_encoded', 'place_name_encoded', 'rooms'
 #                           , 'surface_total_in_m2','price']]

#train = properties.loc[:, ['acceso','agua','aire','amplio','balc','price']]

properties['lat'] = properties['lat'].apply(lambda x: x*2000)
properties['lon'] = properties['lon'].apply(lambda x: x*2000)

train = properties.loc[:, (properties.columns != 'id') & (properties.columns != 'created_on') & 
                       (properties.columns != 'description')]

    
train = train[:int(0.2*len(properties))]# Tomo un 20% del set de entrenamiento, dado que svr solo depende
#de la cantidad de support vector
train_prices = properties[['price']][:int(0.2*len(properties))]


train_to_predict = properties[int(0.2*len(properties)):]
#train_to_predict = train_to_predict.loc[:, ['property_type_encoded', 'place_name_encoded', 'rooms'
 #                                           , 'surface_total_in_m2','price']]
#train_to_predict = train_to_predict.loc[:, ['acceso','agua','aire','amplio','balc','price']]
train_to_predict = train_to_predict.loc[:, (train_to_predict.columns != 'id') & (train_to_predict.columns != 'created_on') & 
                       (train_to_predict.columns != 'description')]
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14166 entries, 0 to 14165
Data columns (total 66 columns):
Unnamed: 0                  14166 non-null int64
id                          14166 non-null int64
created_on                  14166 non-null object
property_type_encoded       14166 non-null int64
place_name_encoded          14166 non-null int64
state_name_encoded          14166 non-null int64
lat                         14166 non-null float64
lon                         14166 non-null float64
surface_covered_in_m2       14166 non-null float64
surface_total_in_m2         14166 non-null float64
floor                       14166 non-null float64
rooms                       14166 non-null float64
distancia_obelisco          14166 non-null float64
distancia_minima_subte      14166 non-null float64
description                 14166 non-null object
distancia_minima_privado    14166 non-null float64
distancia_minima_publico    14166 non-null float64
acceso                      14166 non-null int64
agua                        14166 non-null int64
aire                        14166 non-null int64
amplio                      14166 non-null int64
balc                        14166 non-null int64
buen                        14166 non-null int64
calidad                     14166 non-null int64
caliente                    14166 non-null int64
casa                        14166 non-null int64
cochera                     14166 non-null int64
comedor                     14166 non-null int64
cocina                      14166 non-null int64
completo                    14166 non-null int64
contrafrente                14166 non-null int64
corredor                    14166 non-null int64
credito                     14166 non-null int64
cuadra                      14166 non-null int64
cubierta                    14166 non-null int64
departamento                14166 non-null int64
doble                       14166 non-null int64
dormitorio                  14166 non-null int64
entrada                     14166 non-null int64
estrenar                    14166 non-null int64
excelente                   14166 non-null int64
expensas                    14166 non-null int64
 frente                     14166 non-null int64
hall                        14166 non-null int64
lavadero                    14166 non-null int64
living                      14166 non-null int64
luminoso                    14166 non-null int64
mesada                      14166 non-null int64
muebles                     14166 non-null int64
parque                      14166 non-null int64
parrila                     14166 non-null int64
madera                      14166 non-null int64
patio                       14166 non-null int64
natural                     14166 non-null int64
pileta                      14166 non-null int64
placard                     14166 non-null int64
planta                      14166 non-null int64
profesional                 14166 non-null int64
principal                   14166 non-null int64
salida                      14166 non-null int64
seguridad                   14166 non-null int64
subte                       14166 non-null int64
suite                       14166 non-null int64
terraza                     14166 non-null int64
toilette                    14166 non-null int64
vista                       14166 non-null int64
dtypes: float64(10), int64(54), object(2)
memory usage: 7.1+ MB

In [16]:
#Ahora si empieza K-Means
#C es la penalizacion por clasificar mal (uso soft margins)
#gamma es el sigma del kernel gaussiano
#rbf implica que estoy usando un kernel gaussiano
svr = SVR(kernel = 'rbf', gamma = 0.1, C = 1)
predictions = svr.fit(train,train_prices.values.ravel()).predict(train_to_predict)
predictions = predictions.flatten()

In [17]:
result = pd.DataFrame()
result['price_usd'] = predictions
result['price'] = train_to_predict['price'].values
score = mean_squared_error(result['price'].values, result['price_usd'])
score

660339529948.52795

In [18]:
result

           price_usd      price
0      140000.230464   195000.0
1      140000.230464   345000.0
2      140000.230464   480000.0
3      140000.230464   130000.0
4      140000.230464   330000.0
5      140000.230464    73000.0
6      140000.230464   107000.0
7      140000.230464   125000.0
8      140000.230464   200000.0
9      140000.230464   200000.0
10     140000.230464   200000.0
11     140000.230464   200000.0
12     140000.230464   200000.0
13     140000.230464   148000.0
14     140000.230464   120000.0
15     140000.230464   210000.0
16     140000.230464   280000.0
17     140000.230464   380000.0
18     140000.230464   370000.0
19     140000.230464   350000.0
20     140000.230464   450000.0
21     140000.230464   135000.0
22     140000.230464   135000.0
23     140000.230464   130000.0
24     140000.230464   172000.0
25     140000.230464   120000.0
26     140000.230464    80000.0
27     140000.230464   520000.0
28     140000.230464  1600000.0
29     140000.230464   110000.0
...              ...        ...
68490  140000.230464    82000.0
68491  140000.230464   250000.0
68492  140000.230464   120000.0
68493  140000.230464    69000.0
68494  140000.230464   125000.0
68495  140000.230464   295000.0
68496  140000.230464   215000.0
68497  140000.230464   330000.0
68498  140000.230464   460000.0
68499  140000.230464   182000.0
68500  140000.230464   259400.0
68501  140000.230464   265000.0
68502  140000.230464   119000.0
68503  140000.230464    60000.0
68504  140000.230464   153000.0
68505  140000.230464    60000.0
68506  140000.230464   165000.0
68507  140000.230464   165000.0
68508  140000.230464   180000.0
68509  140000.230464    98000.0
68510  140000.230464   370000.0
68511  140000.230464   163000.0
68512  140000.230464   129000.0
68513  140000.230464    95000.0
68514  140000.230464   265000.0
68515  140000.230464    62000.0
68516  140000.230464   320000.0
68517  140000.230464    60000.0
68518  140000.230464   135000.0
68519  140000.230464   120000.0

[68520 rows x 2 columns]

In [19]:
'''
c_val = 0.1
score = 0
gamma_val = 0.1
best_score = 0
best_gamma = 0
best_c = 0
first = True

while c_val < 100:
    while gamma_val < 100:
        svr = SVR(kernel = 'rbf', gamma = gamma_val, C = c_val)
        predictions = svr.fit(train,train_prices.values.ravel()).predict(train_to_predict)
        predictions = predictions.flatten()
        score = mean_squared_error(predictions, train_to_predict['price'].values)
        if (score < best_score) | (first):
            first = False
            best_score = score
            best_gamma = gamma_val
            best_c = c_val
        c_val+= 0.1
        gamma_val+= 0.1
        
print('best_Score: ' + str(score))
print('C_best: '  + str(best_c))
print('gamma_best: ' + str(best_gamma))
'''

"\nc_val = 0.1\nscore = 0\ngamma_val = 0.1\nbest_score = 0\nbest_gamma = 0\nbest_c = 0\nfirst = True\n\nwhile c_val < 100:\n    while gamma_val < 100:\n        svr = SVR(kernel = 'rbf', gamma = gamma_val, C = c_val)\n        predictions = svr.fit(train,train_prices.values.ravel()).predict(train_to_predict)\n        predictions = predictions.flatten()\n        score = mean_squared_error(predictions, train_to_predict['price'].values)\n        if (score < best_score) | (first):\n            first = False\n            best_score = score\n            best_gamma = gamma_val\n            best_c = c_val\n        c_val+= 0.1\n        gamma_val+= 0.1\n        \nprint('best_Score: ' + str(score))\nprint('C_best: '  + str(best_c))\nprint('gamma_best: ' + str(best_gamma))\n"